<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chengyi.the_back_end.dao.MaterialDao">

    <resultMap id="material" type="cn.chengyi.the_back_end.entity.Material">
        <id column="material_name" property="materialName"/>
        <result column="material_stock" property="materialStock"/>
        <result column="material_price" property="materialPrice"/>
    </resultMap>

    <select id="selectMaterial" resultMap="material">
        select *
        from wintermilktea.material
        where material_name = #{materialName}
    </select>

    <select id="findAllMaterial" resultType="cn.chengyi.the_back_end.entity.Material">
        select *
        from wintermilktea.material
    </select>

    <insert id="addMaterial">
        insert into wintermilktea.material (material_name, material_stock, material_price)
        values (#{materialName}, #{materialStock}, #{materialPrice})
    </insert>

    <delete id="deleteMaterial">
        delete
        from wintermilktea.material
        where material_name = #{materialName}
    </delete>

    <update id="updateMaterial">
        update wintermilktea.material
        set material_stock=#{materialStock},
            material_price=#{materialPrice}
        where material_name = #{materialName}
    </update>

</mapper>